.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

.TodoBody {
  margin: 30px auto;
}

.AddTodoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 30px auto;
}

.AddTodoItem-input {
  width: 80%;
  margin-right: 5px;
}

.AddTodoItem-addButton {
  max-width: 32px;
  max-height: 32px;
}

.icon-button, .completeOrDeleteButton {
  background-color: transparent;
  border: none;
}

.icon-button:hover, .completeOrDeleteButton:hover {
  background-color: #ECEFF1;
  border-radius: 3px;
}

.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 391px;
}

input[type=checkbox] {
  margin-right: 10px;
}

.TodoItem--completed {
  text-decoration: line-through;
  color: gray;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.Footer {
  margin-bottom: 25px;
  font-size: small;
}

.Footer-todoCounts, .Footer-toggleShow, .Footer-completeOrDeleteButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 26px;
  margin: 5px auto;
}

.completeOrDeleteButton {
  display: flex;
  align-items: center;
}

.Footer-button-icon {
  margin-left: 5px;
}