.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

.todo-body {
  margin: 30px auto;
}

.add-todo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 30px auto;
}

.add-todo-item__input {
  width: 80%;
  margin-right: 5px;
}

.icon-button, .footer__buttons-container__button {
  background-color: transparent;
  border: none;
}

.icon-button:hover, .footer__buttons-container__button:hover {
  background-color: #ECEFF1;
  border-radius: 3px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 391px;
}

input[type=checkbox] {
  margin-right: 10px;
}

.todo-item__text {
  word-wrap: anywhere;
}
.todo-item__completed {
  text-decoration: line-through;
  color: gray;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer {
  margin-bottom: 25px;
  font-size: small;
}

.footer__row-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 26px;
  margin: 5px auto;
}

.footer__buttons-container__button {
  display: flex;
  align-items: center;
}

.footer__buttons-container__button-icon {
  margin-left: 5px;
}