.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

.todo-body {
  margin: 30px auto;
}

.add-todo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 30px auto;
}

.add-todo-item__input {
  width: 80%;
  margin-right: 5px;
}

.icon-button, .options-display__button {
  background-color: transparent;
  border: none;
}

.icon-button:hover, .options-display__button:hover {
  background-color: #ECEFF1;
  border-radius: 3px;
}

.options-display {
  display: flex;
  justify-content: space-between;
}

.options-display__button {
  display: flex;
  align-items: center;
}

.options-display__button__icon {
  margin-left: 5px;
}

.options-display__button__active {
  color: #319795;
}

.options-display__button__completed {
  color: #E53E3E;
}

.options-display__button:disabled {
  color: gray;
}

.options-display__button:disabled:hover {
  background-color: #eceff180;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 391px;
  margin-bottom: 10px;
  text-align: left;
}

input[type=checkbox] {
  margin-right: 10px;
}

.todo-item__checkbox-text-date {
  display: flex;
  flex-direction: row;
}

.todo-item__text-and-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-item__text {
  word-wrap: anywhere;
}

.todo-item__dates {
  font-size: small;
  color: gray;
  display: flex;
}

.todo-item__date-added {
  margin-right: 20px;
}

@media (max-width: 560px) {
  .todo-item__dates {
    flex-direction: column;
  }
}

.todo-item__buttons {
  min-width: 65px;
}

.todo-item__completed {
  color: gray;
}

.todo-item__text__completed {
  text-decoration: line-through;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}